@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="font-family: Comic Sans MS,sans-serif;">

    <div class="frontpage" style="">
    </div>

    <div class="text">
        <p><b>Welcome to Vehicle Service </b><span><b>:)</b></span></p>
    </div>

    <!-- Expand Shrink -->
    <div class="accordion">
        <ul>
            <li>
                <div>
                    <a href="#">
                        <h2>Full Car Services</h2>
                        <p>Full Maintainence</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <h2>Ac Servcies And Repair</h2>
                        <p>Book Car AC Service and Repair at Best Service Centers and Garages in Delhi with<br /> Free Pickup and Drop.</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <h2>Clutch Repair</h2>
                        <p>Car Clutch Plate Repairing Services.</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <h2>WindShields Replacement</h2>
                        <p>3M Windshield Repair Kit uses a clear glass resin.</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <h2>Flat Tyre</h2>
                        <p>New Tyre Replacement.</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <h2>Denting & Painting</h2>
                        <p>Remove all kind of dents.</p>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <br>
    <div class="card3">
        <div class="row" style="justify-content:center;">
            <div class="column " style="background: rgba(18, 185, 243, .8);padding:1rem">
                <h5 style="text-align:center;">
                    <br />
                    <b>Extended Warranty (4+1 year):</b><br /><br />
                    Extended warranty covering 5th year of car ownership or
                    up to 1 00 000 km<br /><br />
                    Get protected against rising costs of spare parts and labour<br /><br />
                    Enjoy certified Volkswagen car across any Volkswagen authorised workshop<br /><br />
                    Get protected against rising costs of spare parts and labour<br /><br />

                </h5>
            </div>
            <div class="column" style="background: rgba(6, 99, 218, .8);width:50rem">
                <div class="" style="">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="~/img/c-3.jpg" alt="New york" style="width:100%;height:22rem">
                            </div>
                            <div class="item ">
                                <img src="~/img/c-1.jpg" alt="Los Angeles" style="width:100%;height:22rem">
                            </div>

                            <div class="item">
                                <img src="~/img/c-2.jpg" alt="Chicago" style="width:100%;height:22rem">
                            </div>


                        </div>

                    </div>

                </div>

            </div>
            <div class="column " style="background: rgba(18, 185, 243, .8);padding:1rem">
                <h5>
                    <br />
                    <b>Common tasks involved in maintaining a vehicle</b><br /><br />
                    Inspection - vehicle components are visually inspected for wear or any leaks. A diagnostic is performed to identify any
                    electrical components reporting a failure or a part operating outside of
                    normal conditions.<br /><br />
                    Replacement - Given certain lubricants break down over time due to heat and wear, manufacturers recommend replacement. Any parts that are close to their expected
                    failure are replaced too to avoid a failure while operating the vehicle.<br />
                </h5>
            </div>
        </div>
    </div>




    <div class=" " style="font-size:1.8rem;margin-top:3rem;color:#0353A8;font-family:  Helvetica Neue,sans-serif ;padding:2rem">
        <p>
            WoMechanic offers an online car servicing platform intended to assist people to schedule their car servicing online. The platform provides options to book services such as denting and painting, exterior and interior car care services, and cashless insurance repairs.
        </p><br />
        <p style="text-align:center">
            <div style="text-align:center">
                <h2>Why WeMechanic ?</h2>
                <div style="background-color:#0353A8;color:#fff;margin:2px">Free Pick-Up and Drop</div>
                <div style="background-color:#0353A8;color:#fff;margin:2px">
                    100% Genuine OEM/OES Car Spares
                </div>
                <div style="background-color:#0353A8;color:#fff;margin:2px">
                    Upfront and Competitive Pricing
                </div>
                <div style="background-color:#0353A8;color:#fff;margin:2px">
                    State-of-the-art Workshops
                </div>
            </div>
        </p>
    </div>

    <br>
    <div id="review">
        <a href="#">
            <div class="post green">
                <figure class="pic">
                    <img style="opacity: 1;" src="~/img/n-2.jpg" alt="sample42" class="img-fluid img-responsive" />
                    <figcaption>
                        <h2>Goals</h2>
                        <p>
                            <b> “</b>  Our aim is to offer our customers the assurance and services at the comfort of their homes in the New Normal. While social distancing and required norms are adhered to on-site, the staff undergoes an additional layer of check prior to visiting the customers’ homes. This initiative is in addition to various other contactless programs introduced by MG like MG V Phy – a voice-guided audio demonstration at our dealerships and a digital suite of experiences for online car purchase,” said Gaurav Gupta, CCO, MG Motor India.

                            In terms of after-sales services, certain critical repairs and
                            body shop work will continue to be done at the British legacy
                            automaker’s service facilities. Customers can avail the MG Care
                            services via the MY MG customer App. The services are carried
                            out using special portable equipment that enables facilities
                            like MGerm Clean fumigation, dry wash, and some minor repairs.

                        </p>
                    </figcaption>
                </figure>
            </div>
        </a>
        <a href="#">
            <div class="post purple" style="padding-left:4rem">
                <h2 style="font-size: 1.75em;">Reviews</h2>
                <p class="date" style="font-size: 1.1em;"><i class="fa fa-calendar-o"></i>Aug 22th, 2022</p>
                <div style="">
                    <p>
                        <br />
                        <br />

                        Hum deke rahenge, azadi 🇮🇳<br />
                        Car problems se, azadi 🇮🇳<br />
                        Costly repairs se, azadi 🇮🇳<br /><br />

                        CARZAADI SALE is now live 🟢<br />
                        Enjoy exclusive offers on car services!<br />

                        Check them out now: https://wemechanic.app.link/sm<br />

                        #Independence #azadikaamritmahotsav2022 #Cars #Live #independencedaysale<br />
                    </p>
                </div>
            </div>
        </a>
    </div>
    <br>
    <br>

    <script src="~/js/script.js" asp-append-version="true"></script>
</body>

</html>