@model MajorProject.Models.Urgency

@{
    ViewData["Title"] = "Create";
}
<div style="padding-top:6rem;padding-left:2rem;padding-right:2rem">

<h1>Create</h1>

<h4>Urgency</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Urgencies" class="control-label"></label>
                <input asp-for="Urgencies" class="form-control" />
                <span asp-validation-for="Urgencies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeToReach" class="control-label"></label>
                <input asp-for="TimeToReach" class="form-control" />
                <span asp-validation-for="TimeToReach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
